* {
    font-family: inherit;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    font-family: "Zalando Sans Expanded", sans-serif;
    background-color: #242f22;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: #ebf2db;
    padding: 20px;
    border-radius: 10px;
    border: 5px solid #9ea78a;
}

.calculator .display {
    height: 70px;
    background-color: #68676a;
    display: flex;
    justify-content: flex-end;
    box-sizing: border-box;
    padding: 10px;
    align-items: center;
    margin-bottom: 10px;
    font-size: 50px;
    border-radius: 20px;
}

.display .result {
    overflow-x: hidden;
}

.keyboard {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keyboard .row {
    display: flex;
    flex-grow: 1;
    gap: 10px;
}

.keyboard .row button {
    flex-basis: 0;
    flex-grow: 1;
    font-size: 20px;
}

.keyboard button {
    font-weight: bold;
    border-radius: 50px;
}

.keyboard .row:first-of-type button {
    background-color: #b2c595;
    color: #7b8a85;
}

.keyboard .row:nth-of-type(2) button {
    background-color: #85a672;
    color: #a6b5aa;
}

.keyboard .row:nth-of-type(3) button {
    background-color: #536a4c;
    color: #abbbb5;
}

.keyboard .row:nth-of-type(4) button {
    background-color: #2c3a2a;
    color: #9baca7;
}

.keyboard #clear-button {
    background-color: #263328;
    color: #b4c6c6;
    text-transform: uppercase;
}