body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.calculator {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: #ebf2db;
}

.calculator .display {
    height: 50px;
}

.keyboard {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.keyboard .row {
    display: flex;
    flex-grow: 1;
    gap: 10px;
}

.keyboard .row button {
    flex-basis: 0;
    flex-grow: 1;
}

.keyboard .row:first-of-type button {
    background-color: #b2c595;
}

.keyboard .row:nth-of-type(2) button {
    background-color: #85a672;
}

.keyboard .row:nth-of-type(3) button {
    background-color: #536a4c;
}

.keyboard .row:nth-of-type(4) button {
    background-color: #2c3a2a;
}

.keyboard #clear-button {
    background-color: #263328;
}